<!DOCTYPE html>
<html>
<head>
    <title>Calcular IMC</title>
</head>
<body>
    <h2>Calculadora de IMC (trabalho da faculdade <em>Ampli</em>)</h2>
    <form method="POST" action="/">
        <label for="peso">Peso (em kg):</label>
        <input type="text" id="peso" name="peso" required><br><br>
        <label for="altura">Altura (em metros):</label>
        <input type="text" id="altura" name="altura" required><br><br>
        <input type="submit" value="Calcular">
    </form>
</body>
</html>
